.expense-item-date {
  text-align: center;
  font-size: 15px;
  border: 1px solid white;
  background-color: #446ccf;
  color: white;
}

.date-day {
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  margin: 0.2rem 0;
}
