@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: auto;
  background-color: #0d1529;
}
.header {
  color: white;
  text-align: center;
  border: solid white 2px;
  border-radius: 12px;
}
body h1 {
  border-bottom: solid black 2px;
  padding: 1rem;
}
